* {
    border: 1px solid black
}

#nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.nav-btn {
    font-size: 25px;
}

.nav-btn:hover {
    background-color: blue;
}

#tooltip {
    opacity: 0;
    position: absolute;
    background-color: blueviolet;
}